.shoppingCartPage {
    display: grid;
    grid-template-columns: 67% 30%;
    grid-column-gap: 3%;
    margin: 40px 30px 100px 30px;
    align-items: flex-start;
}

.CartWishedDiv {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 40px;
}
.cart, .wished {
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
}

.singleCartProduct {
    display: grid;
    grid-template-columns: 140px auto 140px 140px 20px;
    margin-left: 20px;
    grid-template-rows: 140px;
    grid-column-gap: 40px;
    padding: 25px;
    color: #ccdde7;
    background: #034488;
    min-width: 400px;
}
.singleCartProduct img{
    height: 100%;
}
.singleCartProduct div {
    display: grid;
    grid-template-rows: 50px auto;
    align-items: center;
}
.singleCartProductNumberButton input[type="number"] {
    height: 50px;
    width: 70px;
    /* padding: 5px; */
}
.singleCartProduct .singleCartProductNumberButton button {
    background: none;
    border: unset;
    font-size: 16px;
    cursor: pointer;
    height: 23px;
    text-align: left;
    color: #ccdde7;
}
.clearButoonCart {
    height: 29px;
    width: 29px;
    background: none;
    bottom: 12px;
    border: unset;
    cursor: pointer;
    position: relative;
    color: #ccdde7;
}

.clearButoonCart svg.MuiSvgIcon-root {
    font-size: 20px;
}

.subtotalCheckout .MuiButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: #ccdde7;
}

.subtotalCheckout button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    background: #ccdde7;
    color: #034488;
    height: 50px;
}
.subtotalCheckout .subtotalCheckoutHorisontal {
    display: flex;
    align-items: center;
    color: #ccdde7;
    justify-content: space-between;
    /* padding: 0 15px; */
}

.subtotalCheckout {
    display: grid;
    background: #034488;
    padding: 25px;
    grid-row-gap: 25px;
    color: #ccdde7;
    /* grid-template-rows: 30px 30px 60px auto auto; */
    /* height: 720px; */
    /* height: 500px; */
}
.adressFormCheckout {
    display: grid;
    /* grid-template-columns: 100%; */
    /* grid-template-rows: 100px 100px 100px 20px 50px; */
    height: auto;
    grid-row-gap: 25px;
    color: #f1f1f1;
}

.addressFormInputs {
    margin-bottom: 30px;
}

.adressFormCheckout .addressFormInputs input, .adressFormCheckout .addressFormInputs select {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    height: 60%;
}
.adressFormCheckout .addressFormInputs .errorAdressFormInput {
    font-size: 14px;
    color: #f50057;
    padding: 4px 5px;
}
.addressChooseCheckout h4{
    margin-bottom: 20px;
    color: #f1f1f1;
}

p.noproductsIncart {
    background: #034488;
    color: #ccdde7;
    height: 50px;
    display: flex;
    padding-left: 20px;
    margin-left: 20px;
    align-items: center;
}

.addressCheckoutGridCart {
    display: grid;
    row-gap: 20px;
}
/* .checkButt{
    padding-top: 2500px;
    color: black;
} */

