.orderSettings {
    padding-left: 120px;
}
.orderSettings h1{
    margin-bottom: 10px;
    font-size: 25px;
}
.orderSettings .MuiTableContainer-root {
    width: 70%;
}
/* .orderSettings table.MuiTable-root {
    border-bottom: none;
}
.orderSettings thead.MuiTableHead-root {
    border-bottom: 2px solid #034488;
} */
.orderSettings th.MuiTableCell-root.MuiTableCell-head {
    padding: 16px 0;
}
.orderSettings td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft {
    padding: 16px 0;
}