.headerLogo{
    height: 20px;
}
.header {
    width: 100%;
    display: flex;
    background: #dbe6eb;
    height: 60px;
    border-bottom: 2px solid #034488;
    align-items: center;
    justify-content: center;
}
.logoUl {
    grid-template-columns: 100%;
    font-size: 35px;
    display: grid;
    width: 40%;
    list-style: none;
    grid-template-rows: 60px;
    text-align: center;
    align-content: center;
}
.centerUl {
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
    display: grid;
    list-style: none;
    height: 100%;
    align-self: center;
    grid-template-rows: 100%;
    text-align: center;
}
.rightUl {
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    list-style: none;
    text-align: center;
    align-content: center;
}
a.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit:hover {
    background-color: unset;
}
ul.serach {
    width: 60%;
    display: grid;
    justify-self: right;
    align-self: center;
}
nav.headerNav {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 32.5% 35% 16.25% 16.25%;
}
nav.headerNav.li {
    width: 100%;
    height: 100%;
    
}

.headerNav .centerUl li a , .rightUl li a , .logoUl li a {
    text-decoration: none;
    color: #034488;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLogo {
    height: 100%;
    width: 31%;
    object-fit: cover;
}

ul.rightUl button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: no-repeat;
    width: 100%;
    border: none;
    color: #034488;
}