.ProductsPage {
    display: flex;
    margin: 40px 30px 100px 30px;
    align-items: flex-start;
}
.ProductsPage .filter {
    width: 30%;
}
.ProductsPage .filter .categoriesFilterProductsPage {
    display: grid;
    grid-row-gap: 20px;
    margin: 20px 0 0 10px;
}
.priceOption {
    display: flex;
    margin-left: 10px;
    width: 100%;
}
.production {
    width: 100%;
    height: auto;
    display: grid;
}
.productTopPart {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.productionGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px 0 0 10px;
    grid-gap: 40px;
}
.productTypeFilter {
    display: grid;
    height: 100%;
    grid-gap: 10px;
}

.categoriesFilterProductsPage .CategoriesFilter .option , .productTypeFilter .option {
    margin-left: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: inherit;
}

.categoriesFilterProductsPage .productTypeFilter .option input[type="checkbox"] {
    width: 20px;
    border: unset;
    margin-right: 10px;
    height: 20px;
    background-color: blue;
}
.categoriesFilterProductsPage .CategoriesFilter .option input[type="checkbox"] {
    width: 20px;
    border: unset;
    margin-right: 10px;
    height: 20px;
    background-color: blue;
}
.CategoriesFilter {
    display: grid;
    height: 100%;
    grid-gap: 10px;
}
.categoriesFilterProductsPage .price {
    display: grid;
    height: 100%;
    grid-gap: 10px;
}
.categoriesFilterProductsPage .price .priceOption {
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.categoriesFilterProductsPage .price .priceOption input[type="number"] {
    width: 45%;
    height: 50px;
    padding: 10px;
}

.production .productTopPart select#product {
    height: 40px;
    padding: 5px;
}
.productPageButtonsFilter .MuiButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: #034488;
}

.productPageButtonsFilter button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    width: 90%;
    background: #034488;
    color: #f1f1f1;
}

.productPageButtonsFilter {
    display: grid;
    grid-template-rows: 50px 50px;
    width: 100%;
    grid-row-gap: 20px;
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .paginationDisabled a {
    opacity: 0.3;
    color: grey;
  }

  .paginationDisabled a:hover {
    background-color: #ccdde7;
    color: grey;
  }
