.singleProductPage {
    display: grid;
    grid-template-columns: 50% 49%;
    padding: 40px 30px 100px 30px;
    grid-column-gap: 40px;
}
.productDescSinglePage {
    display: grid;
    width: 80%;
    grid-row-gap: 20px;
    padding: 60px 0 60px 60px;
    grid-template-rows: 50px 20px 40px 20px 50px auto;
}
.singlePageProdutsButtons .MuiButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: #034488;
}

.singlePageProdutsButtons button.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
    background: #034488;
    color: #f1f1f1;
    height: 50px;
    margin-left: 22px;
}
.singleProductSlider img{
    width: 100%;
}
.productDescSinglePage .price {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}
.singlePageProdutsButtons {
    align-self: self-end;
    display: flex;
    justify-content: flex-end;
}
.productDescSinglePage input[type="number"] {
    width: 25%;
    height: 50px;
    padding-left: 20px;
}
  
.container {
    position: relative;
    max-width: 800px;
    margin: auto;
}
  
.buttonBack {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    display: flex;
}
  
.buttonNext {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    display: flex;
}
.buttonNext svg.MuiSvgIcon-root, .buttonBack svg.MuiSvgIcon-root{
    font-size: 70px;
    color:#dbe6eb8e;
    transition: 0.3s;
}
.buttonNext svg.MuiSvgIcon-root:hover, .buttonBack svg.MuiSvgIcon-root:hover{
    color:#dbe6eb;
}
